header{
width: 100%;
height:120px;
background: #2b2b2d;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #2b2b2d;
}
.dashboard{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 100%;

}
.tabs{
  width: 15%;
  display: flex;
  flex-direction: column;
  background: #2b2b2d;
  color: white;

}
.tabs h3{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.workspace{
  height: 200px;
  font-family: 'Open Sans', sans-serif;
}

.tab-button{
  display:flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0;
}
.tab-button li{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tab-button button{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: white;
    border: 1px solid white;
    background: transparent;
}
.tab-button button:hover{
    width: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    background:transparent;
    border: 1px solid #1DAFEB;
    color: #1DAFEB;

}

.rooms{
  /* height: 150px; */
  height: 200px;
  font-family: 'Open Sans', sans-serif;
}
.graphs{
  width: 65%;
  background: #2b2b2d;
}
.highcharts{
  width: 100%;
  
}
.ageCounter{
  width: 100%;
  display:none;

}
ageCounter ul ul p{
  width: 30px;
  display: flex;
  justify-content: center;
}
.MaleFemale{
  display: flex;
  list-style: none;
  color: white;
  justify-content: flex-end;
  font-size: 12px;
}
.trackMaps{
  width: 100%;
  display: none;
  position: relative;

}
.event{
  width: 25%;
  background: #2b2b2d;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.selectZone h3{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.dropdowns{
    list-style: none;
    display: flex;
    padding: 0;
}
.labels{
    list-style: none;
    display: flex;
    flex-direction: column;
    width:40%;
    align-items: flex-end;
    padding: 0;
}
.labels li{
    width: 55px;
    font-size: 14px;
    margin-bottom: 23px;
    margin-top: 3px;
}
.slectDropdown{
    list-style: none;
    display: flex;
    flex-direction: column;
    width:50%;
    align-items:center;
    padding: 0;
    
}
.dropdowns select{
    width: 140px;
    font-size: 14px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.pignose-calendar {
  max-height: 450px !important;
  overflow-y: scroll;

}
.chartButton{
  list-style: none;
  display: flex;
  width: 100%;
}
.occUtilBtn{
  list-style: none;
  display: flex;
  width: 100%;
}
.chartButton li{
  width: 25%;
  margin-right: 2%;
}
.occUtilBtn li{
  width: 25%;
  margin-right: 2%;
}
.chartButton button{
  background: transparent;
  color: white;
  height: 28px;
  font-size: small;
  border: 1px solid white;
  width: 100%;

}
.occUtilBtn button{
  background: transparent;
  color: white;
  height: 28px;
  font-size: small;
  border: 1px solid white;
  width: 100%;

}
.chartButton button:hover{
  background:transparent;
  border: 1px solid #1DAFEB;
  color: #1DAFEB;
  height: 28px;
    font-size: small;
   
}
.occUtilBtn button:hover{
  background:transparent;
  border: 1px solid #1DAFEB;
  color: #1DAFEB;
  height: 28px;
    font-size: small;
   
}
.pignose-calendar{
  width: 100% !important;
}
.article{
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 100% !important;
}

.calender {
    /* display: flex;
    justify-content: center; */
    width: 95%;
    float: left;
    font-size: 14px;
    padding-left: 15px;
}

.chartButton button.active, .occUtilBtn button.active, .tab-button button.active-tab {
  background:#1DAFEB;
  border: 1px solid #1DAFEB;

}
.chartButton button.active:hover, .occUtilBtn button.active:hover, .tab-button button.active-tab:hover{
  background:transparent;
  border: 1px solid #1DAFEB;
  color:#1DAFEB;

}

button, .hand-pointer {
  cursor: pointer;
}
.labdown{
  /* display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 21px 0 59px;
  font-size: 14px; */

  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 14px;
  padding-left: 15px;
}
.labdown ul{
  /* display: flex;
  list-style: none;
  align-items: end;
  justify-content: space-between;
  margin: 0;
  padding: 0; */

  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.labdown ul select{
  width: 140px;
  font-size: 14px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.chartValues{
  display: flex;
  width: 60%;
  list-style: none;
  color: white;
  justify-content: flex-end;
  font-size: 12px;
}
.chartValues ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 4%;
}
.chartValues ul li{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 36%;
}
.captions{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chartValues ul li p{
  color:#1DAFEB;
  font-size: 14px;
}
.highchartTab{
  display: flex;
    padding: 0;
    margin:0;
    margin-bottom: 2%;
}

.calendars {
  /* display: flex;
  justify-content: space-between; */
  padding-left: 15px;
  font-size: 14px;
}

.active-calendar {
  text-decoration: underline;
  color: #1DB0EC;
}

.active-internal-tab{
  background:#1DAFEB;
  border: 1px solid #1DAFEB;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.lbl-calendar {
  width: 20%;
  display: inline-block;
  text-align: right;
  padding: 5px;
}

.white {
  color: #fff;
}

.search-button{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.button {
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  background: transparent;
  width: 8em;
}

.floor-plan {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-trackmap {
  background: no-repeat url('../img/floor.PNG');
  position: relative;
}

.input-timer {
  width: 30px;
}

.medium-space {
  margin-bottom: 10px;
}

.timer {
  /* padding-left: 2em;
  display: inline-block; */
}

.lbl-to-timer {
  margin: 0 5px;
}

#page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0; 
  background: rgba(0,0,0,0.8); 
  z-index: 100000;
  overflow: hidden;
}
.loader {
    width: 100%;
    height: 100%;
    background: url('load-icon.gif') no-repeat;
    position: absolute;
    top: 39%;
    left: 39%;
}

#imageTemp { 
  position: absolute;
}

.abs {
  position: absolute;
}

.div-fake-hidden {
  width:0px;
  height:0px;
  overflow:hidden;
}

.MaleFemale ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 4%;
  color:white;
}
.MaleFemale ul li{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 36%;
}
.MaleFemale ul li p{
  color:white;
  background: #126687;
  font-size: 14px;
  width: 30px;
  text-align: center;

}
.orptbtn
{
  width : 100%;
}
.oCalendar{
  background-color:rgb(212, 211, 211);
  width: 100%;
  display: none;
  position: relative;
  top: 25px;
  max-width: 850px;
  margin: 0 auto;
}

.occupancy-div{
  background-color: grey;
  text-align: center;
  position:relative; 
  font-weight: 100;
  top:30px;
}

.utilization-div{
  background-color: grey;
  font-size: 20px;
  text-align: center;
  position:relative;
  top:30px; 
}

.fc-toolbar{
  background-color: #2b2b2d;
}
.fc-toolbar.fc-header-toolbar{
  margin-bottom: 0em;
}
.fc-center{
  color: #fff;
}
.fc-head{
  background-color: #2b2b2d;
  color: #fff;
}
.fc-today {
  background:green;
  font-weight: bold;
}
.hide{
  display: none;
}
.active-tab{
  background:#1DAFEB;
  border: 1px solid #1DAFEB;
}
.ocr-graph-cal {
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.parent-ocr-graph-cal {
  padding-left: 2.5em;
}

.ocr-graph-cal.active {
  text-decoration: none;
  color: #1DB0EC;
}

.title {
  color: #E0E0E3;
  text-align: center;
}

.TimeSelect{
  padding-left: 11px;
}
.customTimeSelect{
  padding-left: 32px;
}
button i{
  font-size: 16px;
}

.select-zone-lbl {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.select-zone-dropdown {
  display: inline-block;
  width: 50%;
}

.date-lbl {
  float: left;
  width: 30%;
  text-align: right;
}

.date-cal {
  float: left;
  width: 70%;
}

.date-lbl > span {
  margin-right: 5px;
}

.wd-cal {
  width: 110px;
}